.cal-month {
  border-spacing: 0px;
  text-align: center;
  background-color: #EEE;
}
.cal-month a {
  color: blue;
}
.cal-month a div{
  display: none;
  background-color: #EEE;
  border-radius: 5px;
  border: 1px solid #333;
}
.cal-month a:hover div{
  display: block;
  position: absolute;
}
.cal-month tr:first-child th{
  font-size: 1.5em;
  background-color: #38A4FF;
  color: white;
}
.cal-month th {
  background-color: #97CFFF;
  padding: 3px;
}
a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0b0080;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}
table.calmonth th, table.calmonth td {
  padding: .1em 1em;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
